- name: Install MySQL
  apt: name={{ item }} state=installed update-cache=yes 
  with_items:
    - mysql-server-5.7
    - mysql-client-5.7
    - python-mysqldb

- name: Update MySQL Root User Password
  mysql_user: 
    name=root
    password={{ mysql_root_password }}
    check_implicit_admin=yes
    state=present